@font-face {
  font-family: "NEXON Lv2 Gothic Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MapoFlowerIsland";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #bdc3c7;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #bdc3c7 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body .modal {
  position: fixed;
  padding-bottom: 50px;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  display: grid;
  place-items: center;
  opacity: 0;
  z-index: -1;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-rows: 50px 1fr;
}
@media only screen and (min-width: 768px) {
  body .modal {
    width: 70vw;
  }
}
body .modal .modal__close {
  width: 95%;
  display: flex;
  font-size: 1.5em;
  justify-content: flex-end;
}
body .modal .modal__close i {
  cursor: pointer;
}
body .modal .modal__close i:active {
  color: #e74c3c;
}
body .modal .modal__content {
  display: grid;
  place-items: center;
}
body .modal .modal__content section {
  display: none;
}
body .modal .modal__content section aside .modal-title {
  font-size: 1.5em;
}
body .modal .modal__content section aside p {
  display: flex;
  font-weight: 600;
}
body .modal .modal__content section aside p span {
  margin-left: 10px;
  font-weight: 200;
}
body .modal .modal__content section aside p::after {
  content: "";
  background-image: url("https://www.mariowiki.com/images/b/bb/Bell_MK8.png");
  background-size: 25px 25px;
  display: inline-block;
  width: 25px;
  height: 25px;
}
body .is-open {
  z-index: 10;
  opacity: 1;
}

.song-card .song-thumbnail {
  position: relative;
  cursor: pointer;
  user-select: none;
}
.song-card .song-thumbnail h1 {
  all: unset;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6em;
  color: #fff;
  opacity: 0;
}
.song-card .song-thumbnail:hover > img {
  filter: brightness(50%);
}
.song-card .song-thumbnail:hover > h1 {
  opacity: 1;
}
.song-card .kor-title {
  margin: 0;
  margin-bottom: 15px;
}
.song-card .eng-title {
  margin: 0;
}

.error-box {
  text-align: center;
  color: #323232;
  display: none;
}
.error-box i {
  font-size: 5em;
}
.error-box .error-title {
  font-size: 2em;
}
.error-box .error-msg {
  font-size: 1em;
  margin: 0;
}

body {
  padding: 0;
  font-size: 16px;
  font-family: "MapoFlowerIsland", sans-serif;
}

hr {
  margin: 20px 0px;
}

::selection {
  background: #dff9fb;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #dff9fb;
  /* Gecko Browsers */
}

a {
  color: inherit;
  text-decoration: none;
}
a::visited {
  color: inherit;
}

header nav {
  margin: 0;
}
header section h1 {
  font-family: "NEXON Lv2 Gothic Bold", sans-serif;
  font-size: 3em;
  user-select: none;
  color: white;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
header section form {
  width: 60%;
  padding: 50px;
}
header section form i {
  color: #bdc3c7;
}
header section form .input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
header section form input {
  width: 100%;
  margin: 0;
  margin-left: 15px;
  padding: 15px;
  font-family: "MapoFlowerIsland", sans-serif;
}

main .loading-container {
  color: #bdc3c7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

/*# sourceMappingURL=style.a6dae8f7.css.map */