@import "../../styles.css";

.search-desc {
  text-align: center;
  font-size: 18px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  margin-top: 30px;
}

.input-container i {
  color: #95a5a6;
}

.input-container .search-input {
  margin: 0px 10px;
  padding: 10px;
  width: 50vw;
}

.song-card {
  transition: 0.2s ease-in-out;
}

/* .song-card:hover {
  transform: scale(1.1);
} */

.song-thumbnail {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.play-button {
  display: none;
  position: absolute;
  color: white;
  font-size: 88px;
  text-shadow: none;
}

.play-button:hover {
  display: block;
}

.song-thumbnail img {
  filter: blue(4px);
}

.song-thumbnail:hover > .play-button {
  display: block;
}

.song-thumbnail:hover > img {
  filter: brightness(50%);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 15px;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
  background-color: white;
  margin: auto;
  padding: 10px;
  width: 80%;
  border-radius: 15px;
  animation: magnifyPop 0.2s ease-in-out forwards;
}

.modal__content .close-btn {
  color: #aaaaaa;
  float: right;
  text-decoration: bold;
  font-size: 30px;
  user-select: none;
}

.modal__content .close-btn:hover,
.modal__content .close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes magnifyPop {
  from {
    transform: scale(0.01);
  }
  to {
    transform: scale(1);
  }
}
