body {
  // position: relative;
  .modal {
    position: fixed;
    padding-bottom: 50px;
    width: fit-content;
    @media only screen and (min-width: 768px) {
      width: 70vw;
    }
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    display: grid;
    place-items: center;
    opacity: 0;
    z-index: -1;
    box-shadow: 0 0 0 100vw rgba(black, 0.4);

    display: grid;
    grid-template-rows: 50px 1fr;

    .modal__close {
      width: 95%;
      display: flex;
      font-size: 1.5em;
      justify-content: flex-end;
      i {
        cursor: pointer;
        &:active {
          color: #e74c3c;
        }
      }
    }
    .modal__content {
      display: grid;
      place-items: center;

      section {
        display: none;
        aside {
          .modal-title {
            font-size: 1.5em;
          }
          p {
            display: flex;
            font-weight: 600;
            span {
              margin-left: 10px;
              font-weight: 200;
            }
            &::after {
              content: "";
              background-image: url("https://www.mariowiki.com/images/b/bb/Bell_MK8.png");
              background-size: 25px 25px;
              display: inline-block;
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }
  }

  .is-open {
    z-index: 10;
    opacity: 1;
  }
}
