body {
  // position: relative;
  .modal {
    // Position
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // Size
    padding-bottom: 50px;
    width: fit-content;
    height: auto;
    @media only screen and (min-width: 768px) {
      width: 70vw;
      height: 90vh;
    }
    // Style
    background: white;
    border-radius: 2em;

    // Placing grid box
    display: grid;
    place-items: center;
    grid-template-rows: 50px 1fr;

    // Hidden
    opacity: 0;
    z-index: -1;

    // Modal backdrop
    box-shadow: 0 0 0 100vw rgba(black, 0.4);

    .modal__close {
      width: 90%;
      display: flex;
      font-size: 1.5em;
      justify-content: flex-end;
      i {
        cursor: pointer;
        &:hover {
          color: #e74c3c;
        }
      }
    }
    .modal__content {
      display: grid;
      place-items: center;

      section {
        display: none;
        aside {
          .modal-title {
            font-size: 1.5em;
          }
          p {
            display: flex;
            font-weight: 600;
            span {
              margin-left: 10px;
              font-weight: 200;
            }
            &::after {
              content: "";
              background-image: url("https://www.mariowiki.com/images/b/bb/Bell_MK8.png");
              background-size: 25px 25px;
              display: inline-block;
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }
  }

  .is-open {
    z-index: 10;
    opacity: 1;
  }
}
