.song-card {
  .song-thumbnail {
    position: relative;
    cursor: pointer;
    user-select: none;
    h1 {
      all: unset;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 6em;
      color: #fff;
      opacity: 0;
    }

    &:hover > img {
      filter: brightness(50%);
    }
    &:hover > h1 {
      opacity: 1;
    }
  }

  .kor-title {
    margin: 0;
    margin-bottom: 15px;
  }
  .eng-title {
    margin: 0;
  }
}
