@import "variables";
@import "fonts.scss";
@import "loading.scss";
@import "modal.scss";
@import "songCard.scss";
@import "error.scss";

body {
  padding: 0;
  font-size: 16px;
  font-family: "MapoFlowerIsland", sans-serif;
}

hr {
  margin: 20px 0px;
}

::selection {
  background: #dff9fb; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #dff9fb; /* Gecko Browsers */
}

a {
  color: inherit;
  text-decoration: none;
  &::visited {
    color: inherit;
  }
}

header {
  nav {
    margin: 0;
  }
  section {
    h1 {
      font-family: "NEXON Lv2 Gothic Bold", sans-serif;
      font-size: 3em;
      user-select: none;
      color: white;
      text-shadow: $titleShadow;
    }
    form {
      width: 60%;
      padding: 50px;
      i {
        color: $loadingColor;
      }
      .input-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      input {
        width: 100%;
        margin: 0;
        margin-left: 15px;
        padding: 15px;
        font-family: "MapoFlowerIsland", sans-serif;
      }
    }
  }
}

main {
  .loading-container {
    color: $loadingColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
}
