@import "https://meyerweb.com/eric/tools/css/reset/reset.css";

@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "GmarketSansLight";
  background-color: #bdc4d1;
}

a {
  text-decoration: none;
}

.main {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 250%;
  user-select: none;
}

.return-link {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 20px;
  transition: 0.2s ease-in-out;
  font-weight: bold;
}

.return-link:hover {
  transform: scale(1.2);
}

.main .container {
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  width: 60vw;
  height: 50vh;
  min-width: 750px;
  min-height: 300px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container .container__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__desc .desc {
  margin: 15px 0px;
}

.container__desc .desc__upload-header {
  font-weight: bold;
  color: #4b4b51;
}

.container__desc .desc__upload-percentage {
  font-size: 60%;
  color: #838595;
}

.container .container__controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container__controls .controller {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.controller .control {
  cursor: pointer;
  color: #808199;
  transition: 0.2s ease-in-out;
}

.controller .control:hover {
  color: #515366;
  transform: scale(1.1);
}
