$primary: #4540c7;
$bgWhite: #fcfdfd;
$active: #393a43;
$disable: #7e8b9e;
$bgBtn: #f6f7fa;
$bgLoad: #f6f7fa;
$check: #17916d;
$transparentLoader: rgba(126, 139, 158, 0.2);
$boxShadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
  0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
  0 16px 16px rgba(0, 0, 0, 0.12);
$transitionTime: 1.2s;
